@import '~react-select/dist/react-select.css';

body {
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p, span, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: white;
}

.title {
  color: black;
  text-decoration: none;
  h1 {
    font-size: 72px;
  }
  &:hover {
    text-decoration: none;
    color: black;
  }
  &:focus {
    text-decoration: none;
    color: black;
  }
}

.list-group-item {
  background-color: #000;
  border: none;
}

.spaceIt {
  line-height: 1.6;
}

.number-wrapper {
  .country-select {
    vertical-align: top;
    display: inline-flex;
    .Select {
      width: 48px;
    }
    .Select-value {
      width: 50px;
      text-align: left;
      padding-left: 8px;
    }
    .Select-arrow-zone {
      padding-right: 0;
      width: 22px;
    }
  }
  .number-field {
    margin-left: 2px;
    vertical-align: top;
    display: inline-flex;
    width: 160px;
    input {
      height: 36px;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// blackening
.Select {
  .Select-control {
    background-color: black;
    border-color: white;
    .Select-value-label {
      color: white !important;
    }
  }
  .Select-menu-outer {
    background-color: black;
    border-color: white;
  }
  &.is-open {
    .Select-control {
      background-color: black;
      border-color: white;
    }
  }
  .Select-option {
    background-color: black;
    color: white;
    &.is-selected {
      background-color: black;
      color: white;
      border-color: white;
    }
    &.is-focused {
      background-color: white;
      color: black;
    }
  }
}

.form-control {
  color: white;
  background-color: black;
  border-color: white;
}

.btn-default {
  color: white;
  background-color: black;
  border-color: white;
  &:hover, &:active, &:focus  {
    color: black;
    background-color: white;
    border-color: black;
  }
}

.alert {
  margin-bottom: 0;
  margin-top: 10px;

  &.alert-danger {
    background-color: black;
    border-color: red;
    color: white;
  }
  &.alert-warning {
    background-color: black;
    border-color: yellow;
    color: white;
  }
}